@using MCShop_WebApp.Models


@using Model.Entity
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Session["ShoppingCart"] != null)
    {
        int cartcount = 0;
        List<CartItem> ls = (List<CartItem>)Session["ShoppingCart"];
        foreach (CartItem item in ls)
        {
            cartcount += item.Quantity;
        }
        ViewBag.count = cartcount;
    }
}
<script>
    function AddToCart(IDPRODUCTS) {
        $.ajax({
            type: 'POST', url: '/Cart/AddToCart', data: { id: IDPRODUCTS }, success: function (data) {
                $("#Cart_Amount").html(data.ItemAmount);
            }
        });
    }
</script>

{
    <main style="margin-top:5em !important">

        <!-- Main Container -->
        <div class="container">

            <section class="section my-5 pb-5">

                <!-- Shopping Cart table -->
                <div class="table-responsive">

                    <table class="table product-table table-cart-v-1">

                        <!-- Table head -->
                        <thead>

                            <tr>

                                <th></th>

                                <th class="font-weight-bold">

                                    <strong>Tên sách</strong>

                                </th>

                                <th class="font-weight-bold">

                                    <strong>Giá</strong>

                                </th>

                                <th></th>

                                <th class="font-weight-bold">

                                    <strong>Số lượng</strong>

                                </th>

                                <th class="font-weight-bold">

                                    <strong>Nhà cung cấp</strong>

                                </th>

                                @*<th class="font-weight-bold">

                                        <strong>Tổng cộng</strong>

                                    </th>*@

                                <th></th>

                            </tr>

                        </thead>
                        @{
                            double total = 0;
                            List<CartItem> listCart = (List<CartItem>)Session["ShoppingCart"];
                        }
                        <tbody class="col-md-10 col-sm-12 col-auto">
                            @if (listCart != null)
                            {
                                foreach (var item in (List<CartItem>)Session["ShoppingCart"])
                                {


                                    <!-- First row -->
                                    <tr>

                                        <th scope="row">

                                            <img src="@Url.Content("~/Content/Image/" + item.PRODUCT.IMAGE_NAME)" alt="cover page" width="80" />

                                        </th>

                                        <td>

                                            <h5 class="mt-3">

                                                <strong>@item.PRODUCT.PRODUCTS_NAME</strong>

                                            </h5>

                                            <p class="text-muted">@item.PRODUCT.AUTHOR</p>

                                        </td>
                                        <td>@item.PRODUCT.PRICE</td>

                                        <td></td>
                                        <td class="text-center text-md-left">
                                            <input class="txtQuantity" type="text" data-id="@item.PRODUCT.IDPRODUCTS" value="@item.Quantity" disabled="disabled" />
                                        </td>
                                        <td>@item.PRODUCT.VENDOR</td>
                                        <td class="font-weight-bold">


                                            @{ double value = (double)item.PRODUCT.PRICE * item.Quantity;
                                                total += value;
                                            }
                                            @value
                                        </td>
                                    </tr>
                                }

                            }
                            <tr>

                                
                               

                                <td>

                                    <h4 class="mt-2">

                                        <strong>Tổng cộng</strong>

                                    </h4>

                                </td>

                                <td class="text-right">

                                    <h4 class="mt-2" name="tongcong">

                                        <strong>@total vnd</strong>

                                    </h4>

                                </td>
                            </tr>
                        </tbody>                     
                    </table>
                    <div class="section">
                        @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                        {
                        <div class="col-md-6 col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label>Tên người nhận</label>
                                <input name="shipname" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ Email</label>
                                <input name="email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Điện thoại</label>
                                <input name="mobile" type="number" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input name="address" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-primary">Gửi đơn hàng</button>
                        </div>

                        }
                    </div>
                </div>
            </section>
        </div>

    </main>






