@model IEnumerable<Model.Entity.ORDER>
@using Model.Entity
@using MCShop_WebApp.Common
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table" style="margin-top:100px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SHIPNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th></th>
    </tr>
    @{var session = (ACCOUNT)Session[CommonConstants.USER_SESSION];}
    @foreach (var item in Model)
    {
        if (session.ID_ACCOUNTS == item.ID_ACCOUNTS)
        {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.SHIPNAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PHONE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EMAIL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ADDRESS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.STATUS)
    </td>
    <td>
        <button class="btn btn-amber">  @Html.ActionLink("Edit", "EditOrder", new { id = item.IDORDERS })</button>
        <button class="btn btn-danger"> @Html.ActionLink("Delete", "DeleteOrder", new { id = item.IDORDERS })</button>
    </td>
</tr>
        }
    }
    

</table>
